<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>CloudTracker needs camera access to take photos of clouds for identification.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>CloudTracker uses your location to tag where you captured each cloud photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CloudTracker needs access to your photo library to select cloud photos for identification.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
